<header>
    <nav class="navbar">
        <a style="font-weight: bold; font-size: 24px;" routerLink="/home">NTZ</a>
        <div class="nav-links">
            <a routerLink="/home">Home</a>
            <a routerLink="/catalog">Catalog</a>
            <ng-container *ngIf="!isLoggedIn">
                <a routerLink="/join">Join</a>
                <a routerLink="/register">Register</a>
            </ng-container>
            <ng-container *ngIf="isLoggedIn">
                <a routerLink="/profile">Profile</a>
                <a (click)="logout()" style="cursor:pointer">Logout</a>
            </ng-container>
        </div>
    </nav>
</header>