nav
{
    padding: 1rem 2rem;
    background-color: #40a659;
    display: flex;
    justify-content: space-between;
    flex: 2;
}
nav a
{
    color: #F5F5DC;
    text-decoration: none;
    font-size: 19px;
    font-family: trebuchet ms, sans-serif;
}
.nav-links
{
    display: flex;
    gap: 1.5rem;
}
nav a:hover
{
    color: #2e8b57;
    transition: color 0.3s ease;
    transform: scale(1.05);
}
